.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
/* .title .title-text {

} */
.title .title-logo {
    width: 60px;
    height: 60px;
    animation: retate 5s infinite linear;
}
.top-btns {
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}
.top-btns button {
    display: inline-block;
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}

@keyframes retate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}